* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
.carousel-item {
  height: 50vh;
  background-position: center;
  background-size: cover;
  width: 100%;
}

.slide1 {
  background-image: url(./images/3_bh8.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  text-align: end;
}

.slide2 {
  background-image: url(./images/IMG_7873.JPG);
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
}

.slide3 {
  background-image: url(./images/6.JPG);
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
}
.slide4 {
  background-image: url(./images/1.jpeg);
  background-position: center;
  background-size: cover;
  width: 100%;
  color: white;
  text-align: center;
}
.logo {
  width: 10rem;
}
.carousel-indicators li {
  width: 1rem !important;
  height: 1rem !important;
  border: 0px solid black;
  border-radius: 50%;
  background-color: #dc3546a7 !important;
}
.carousel-indicators .active {
  background-color: #dc3546de !important;
  transform: scale(1);
  transition: transform 0.3s;
}
.dropdown-toggle::after {
  display: none;
}
ul {
  border: 0px solid black;
  border-radius: 100px;
  display: flex;
  position: absolute;
  width: 88.7vw;
  /* gap: 6rem; */
  z-index: 2;
  justify-content: space-around !important;
  align-items: center;
  list-style: none;
  background-color: white;
  height: 3vw;
  margin-top: 4.7rem !important;
  margin-left: 6.87rem;
}

li a {
  color: black;
  font-size: 1.25rem;
  text-decoration: none;
}
li a:hover {
  color: black;
  border-bottom: 3px solid #ca4552;
  text-decoration: none;
}
ul li:first-child a {
  font-weight: 600;
  border-bottom: 4px solid #ca4552;
}
.carousel-item {
  position: relative;
  overflow: hidden;
}

.carousel-item span {
  position: absolute;
  bottom: -2rem;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  display: block;
  text-align: center;
  text-decoration: none;
  opacity: 0;
  transition: all 0.5s ease;
}

.carousel-item span {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-weight: bolder;
  color: rgb(0, 0, 0);
}
.carousel-item.active span {
  bottom: 2.25rem;
  opacity: 1;
}
.dropdown-menu {
  min-width: 120px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.dropdown-item {
  background-color: #f1f1f1;
  border-bottom: 1px solid transparent !important;
}
.dropdown-item:hover {
  background-color: #f1f1f1;
  border-bottom: 1px solid #ca4552 !important;
}

li .dropdown-toggle {
  border-bottom: 3px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -10%;
}
.lang_li {
  display: flex !important;
  align-items: center !important;
}
.lang_li img {
  margin: 5px -10px 0px 10px;
}
.side_navbar {
  display: none;
}
#about {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.sec_head {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 0.75%;
}
.sec_head1 {
  font-size: 3rem;
}
.empty {
  width: 10rem;
  height: 5px;
  background-color: #ca4552;
}
.empty::before {
  content: "";
  width: 8rem;
  display: inline-block;
  border: 2px solid #ca4545;
  height: 0px;
  top: -1.4rem;
  left: 2rem;
  position: relative;
  background-color: #ca4552;
}

.empty::after {
  content: "";
  width: 8rem;
  border: 2px solid #ca4545;
  height: 0px;
  top: -1.8rem;
  left: 2rem;
  display: inline-block;
  position: relative;
  background-color: #ca4552;
}

.empty1 {
  width: 10rem;
  height: 5px;
  background-color: #ca4552;
}
.empty1::before {
  content: "";
  width: 8rem;
  border: 2px solid #ca4545;
  height: 0px;
  bottom: 1.39rem;
  left: 0rem;
  display: inline-block;
  position: relative;
  background-color: #ca4552;
}

.empty1::after {
  content: "";
  width: 8rem;
  border: 2px solid #ca4545;
  height: 0px;
  bottom: 1.8rem;
  left: 0rem;
  display: inline-block;
  position: relative;
  background-color: #ca4552;
}
.breif {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.breif div:nth-child(2) {
  width: 25%;
  font-size: 1.25rem;
}
.circle_Container {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.cricles_child {
  display: flex;
  justify-content: space-evenly;
  width: 100% !important;
  align-items: center;
}
.circle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 10rem !important;
  height: 10rem;
  border: 10px solid #ca4545;
  border-radius: 50%;
  font-size: 1.25rem !important;
  margin: 3rem 0rem;
  font-weight: 600;
}
.circle span:nth-child(1) {
  font-size: 1.75rem;
  font-weight: 600;
}
.pillars_container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 9%;
  align-items: center;
  width: 100%;
  margin: 6rem 0rem 6rem 0rem;
  height: 18vw;
}
.pillars_box {
  width: 20rem;
  height: 23rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0px solid transparent;
  border-radius: 10px;
  box-shadow: 0px 6px 0px 0px;
}
.pillars_child {
  justify-content: center;
  display: flex;
  width: 5rem;
  height: 5rem;
  border: 8px solid rgb(255, 255, 255);
  border-radius: 50%;
  background-color: black;
  box-shadow: 0px 0px 8px 0px black;
}
.diffrent {
  box-shadow: 0px 6px 0px 0px #ca4545;
}
.diffrent_child {
  background-color: #ca4545;
}
.diffrent_child svg {
  width: 5rem !important;
}
.pillars1 {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pillars1 svg {
  width: 2.75rem;
}
.pillars1 span {
  font-size: 2rem;
  font-weight: 600;
  margin-top: 1rem;
}
.pillars2 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 5px;
  padding-left: 2rem;
  padding-top: 1rem;
  font-size: 1rem;
  width: 100%;
}
.checkmark {
  background-color: #ca4545;
  width: 1rem;
  font-weight: 500;
  margin-top: 4px;
  height: 1rem;
  border: 0px solid transparent;
  border-radius: 50%;
  padding: 2px;
}
.head_diffrent {
  margin-bottom: 0.7rem;
}
#goverments {
  margin: 3rem 0rem;
}
.goverments_child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2%;
}
.goverments_child img {
  width: 20%;
}
.goverment_1 {
  font-weight: 600;
  flex-direction: column;
  font-size: 1.2rem;
}
.goverment_1 span::before {
  content: ".";
  padding-right: 9px;
  font-size: 2rem;
  color: #ca4545;
}
.special_city {
  width: 9rem;
}
#Services {
  margin: 4rem 0rem;
}
.services_container {
  display: flex;
  justify-content: center;
  gap: 2%;
}
.services_type {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5%;
  width: 21%;
  padding: 0rem 2rem;
  height: 30vh;
  text-align: center;
  border: 0px solid transparent;
  border-radius: 8px;
  box-shadow: 0px 8px 0px -1px black;
  margin-top: 1rem;
  transition: transform 0.4s ease;
}
.services_type_speical {
  box-shadow: 0px 8px 0px -1px #ca4545;
}
.services_type:hover {
  transform: translateY(-30px);
}
.services_type svg {
  width: 5rem;
}
.services_type span:nth-child(2) {
  color: black;
  font-size: 2rem;
  font-weight: 500;
}
.services_type span:nth-child(3) {
  font-size: 1.2rem;
  color: #666666;
}
.goverments_child div {
  width: 23%;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  height: 35vh !important;
}
#press {
  margin: 3rem 0rem;
}
#contact-us,
.contact1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.contact1 {
  margin: 4rem 0rem;
  width: 23%;
  gap: 0.5rem;
}
.contact-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.contact1 span:nth-child(2) {
  font-size: 2rem;
  font-weight: 600;
}
.contact1 a:nth-child(3) {
  color: #111;
  text-decoration: none;
}
.container {
  text-align: center;
}
.nav-links {
  display: flex;
  justify-content: center;
  gap: 13%;
  margin-bottom: 20px;
}
.custom-carousel-container {
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
}

.custom-carousel-slides {
  display: flex;
  transition: transform 1s ease-in-out;
}

.custom-carousel-slide {
  min-width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
}

.custom-carousel-slide img {
  width: 150px; /* Adjust image size */
  height: 150px; /* Adjust image size */
  border-radius: 50%; /* Make images circular */
  object-fit: cover; /* Ensure images fit within the circle */
}

.custom-carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  gap: 10px;
}

.custom-carousel-indicators button {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: none;
  background-color: #ca4545;
  cursor: pointer;
}
.custom-carousel-slide img {
  width: 17rem;
  height: 17rem;
  border: 0px solid transparent;
  border-radius: 50%;
  object-fit: contain;
}
.custom-carousel-indicators button.active {
  background-color: #ca454570;
}

.custom-carousel-controls {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 0 10px;
  box-sizing: border-box;
}

.custom-carousel-controls button {
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

.custom-carousel-controls button:hover {
  color: #000;
}
.nav-links a {
  text-decoration: none;
  color: #333;
  font-size: 18px;
  padding: 10px;
  cursor: pointer;
}
.nav-links a.active {
  font-weight: bold;
  color: #ca4545;
  border-bottom: 2px solid #ca4545;
}
.slider {
  display: none;
  position: relative;
}
.slider.active {
  display: block;
}
.slider-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.image-group {
  display: none;
  flex: 1;
  gap: 4rem;
  justify-content: center;
}
.image-group.active {
  display: flex;
}
.image-group img {
  width: 30%;
  height: 22rem;
  border-radius: 8px;
  object-fit: fill;
}
.next {
  margin: 0rem 0rem 0rem 2rem;
  border: 0px solid transparent;
  background-color: transparent;
  color: #ca4545;
}
.prev {
  margin: 0rem 2rem 0rem 0rem;
  border: 0px solid transparent;
  background-color: transparent;
  color: #ca4545;
}
.slider-nav button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}
button:focus {
  outline: none;
  outline: none;
}

.slider-nav button:hover {
  background-color: #0056b3;
}
.slide1-img1 {
  background-image: url(./images/client1.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide1-img2 {
  background-image: url(./images/client2.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide1-img3 {
  background-image: url(./images/client3.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide1-img4 {
  background-image: url(./images/client4.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide2-img1 {
  background-image: url(./images/client5.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide2-img2 {
  background-image: url(./images/client6.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide2-img3 {
  background-image: url(./images/client7.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide2-img4 {
  background-image: url(./images/client8.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide3-img1 {
  background-image: url(./images/client9.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide3-img2 {
  background-image: url(./images/client10.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide3-img3 {
  background-image: url(./images/client11.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide3-img4 {
  background-image: url(./images/client12.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}

.slide4-img1 {
  background-image: url(./images/client13.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide4-img2 {
  background-image: url(./images/client14.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide4-img3 {
  background-image: url(./images/client15.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide4-img4 {
  background-image: url(./images/client16.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide5-img1 {
  background-image: url(./images/client17.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide5-img2 {
  background-image: url(./images/client18.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide5-img3 {
  background-image: url(./images/client19.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide5-img4 {
  background-image: url(./images/client20.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide6-img1 {
  background-image: url(./images/client21.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide6-img2 {
  background-image: url(./images/client22.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide6-img3 {
  background-image: url(./images/client23.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide6-img4 {
  background-image: url(./images/client24.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide7-img1 {
  background-image: url(./images/client25.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide7-img2 {
  background-image: url(./images/client26.jpg);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide7-img3 {
  background-image: url(./images/client27.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide7-img4 {
  background-image: url(./images/client28.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide8-img1 {
  background-image: url(./images/client29.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  display: inline-block;
  background-size: contain;
  background-repeat: no-repeat;
}
.slide8-img2 {
  background-image: url(./images/client30.png);
  background-position: center;
  width: 17rem;
  height: 17rem;
  background-size: contain;
  background-repeat: no-repeat;
}
footer {
  background-color: #3b3b3b;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  gap: 17.68rem;
}
.footer1,
.footer2 {
  display: flex;
  flex-direction: column;
}
.footer1 span {
  font-weight: 600;
  padding: 0.25rem 0rem;
}
.footer1 a {
  font-weight: 500;
  color: #ffffffa1;
  padding-bottom: 1.5rem;
}
.footer2 span {
  font-weight: 600;
  padding-bottom: 9px;
}
.footer2 a {
  font-weight: 500;
  padding-bottom: 9px;
  color: #ffffffa1;
  padding: 0px !important;
}
footer img {
  width: 7rem;
}
.footer_special {
  display: none;
}
/*project page styling*/

.content_child span:nth-child(1) {
  padding-bottom: 2.2rem;
  color: white;
}
.content_child div:nth-child(2) {
  padding-bottom: 1.5rem;
}
.content_child div:nth-child(3) {
  padding-bottom: 1.5rem;
}
.content_child div:nth-child(4) {
  padding-bottom: 1.5rem;
}
.content_child div:nth-child(5) {
  padding-bottom: 1.5rem;
}
.projects_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
}
.projects_head {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 1%;
  margin-top: 2rem;
}
.projects_head span {
  font-size: 2.5rem;
  font-weight: 500;
  color: white;
}
.empty-project {
  width: 9rem;
  height: 0.25rem;
  background-color: #ca4545;
}
.empty-project::before {
  content: "";
  color: white;
  border-bottom: 3px solid #ca4545;
  width: 7rem;
  position: absolute !important;
  left: 24.65%;
  top: 51px !important;
}
.empty-project::after {
  content: "";
  color: white;
  border-bottom: 3px solid #ca4545;
  width: 7rem;
  position: absolute !important;
  left: 24.65%;
  top: 70px !important;
}
.empty1-project{
  width: 9rem;
  height: 0.25rem;
  background-color: #ca4545;
}
.empty1-project::before {
  content: "";
  color: white;
  border-bottom: 3px solid #ca4545;
  width: 7rem;
  position: absolute !important;
  right: 24.65%;
  top: 51px !important;
}
.empty1-project::after {
  content: "";
  color: white;
  border-bottom: 3px solid #ca4545;
  width: 7rem;
  position: absolute !important;
  right: 24.65%;
  top: 70px !important;
}
.project_content {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2%;
  width: 100%;
  margin-top: 2.5rem;
}
.iframe-fallback{
  width: 33.5%;
  height: 37.5vh;
  background-image: url(./images/gamal\ abd\ el\ nasser\ musem6.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
  border: 4px solid black;
}
iframe{
  border-radius: 10px;
  border: 4px solid black;
  object-fit: cover;
  width: 100%;
  height: 37.5vh;
}
.content_child {
  display: flex;
  flex-direction: column;
}
.Authority_desc {
  font-size: 1.25rem;
  font-weight: 700;
  color: #ca4545 !important;
}
.clients {
  font-weight: 500;
  color: white !important;
}
.project_preview {
  margin: 4rem 0rem;
}
.project_img {
  width: 28.2rem;
  height: 17rem;
  border: 0px solid black;
  border-radius: 25px;
  padding: 0rem 1rem;
}
.prject-carousel-indicators{
  bottom: -25px !important;
}
.prject-carousel-indicators li{
    width: 1rem;
    height: 1rem;
    border: 0px solid transparent;
    border-radius: 50%;
    background-color: #ca4545;
}
.prject-carousel-indicators .active {
    background-color: #ca4545b0;
}
@media (min-width: 320px) and (max-width: 500px) {
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  nav {
    display: none;
  }
  .side_navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    height: 9vw;
    color: white;
    width: 88%;
    margin-top: 2.2rem;
    border: 0px solid black;
    gap: 1rem;
    border-radius: 50px;
    position: absolute;
    top: 0;
    z-index: 1;
  }
  .hamburger {
    background: none;
    border: none;
    color: #ca4552;
    font-size: 17px;
    height: fit-content !important;
    cursor: pointer;
  }
  .hamburger span {
    color: black;
    margin-left: 0.625rem;
  }

  .logo {
    background-image: url(./Group\ 1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 20vw;
  }
  .language-dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .language-icon {
    height: 1rem;
    vertical-align: middle;
    margin-top: 1px;
    margin-left: 0.625rem;
  }
  .language-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .arrow {
    font-size: 12px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .side-nav a:hover {
    color: #ca4552;
  }

  .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
  }

  .slide1,
  .slide2,
  .slide3,
  .slide4 {
    height: 100vw;
  }
  .carousel-item span {
    font-size: 0.5rem;
  }

  .carousel-indicators li {
    width: 0.5rem !important;
    height: 0.5rem !important;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.4;
  }
  ol {
    margin-bottom: 0px !important;
  }
  .carousel-item span {
    font-size: 0.5rem !important;
    margin-bottom: -15px;
  }
  .logo img {
    display: none;
  }
  footer {
    gap: 1rem;
    height: 18.75rem;
  }
  footer img {
    width: 5rem;
  }
  .footer1 span,
  .footer2 span,
  .footer1 a,
  .footer2 a {
    font-size: 0.75rem;
  }
  .footer1 a {
    padding-bottom: 0.25rem;
  }
  .footer2 {
    display: none;
  }
  .footer1 span {
    padding: 0.4rem 0rem 0.1rem 0rem;
  }
  .footer_special {
    display: flex;
    flex-direction: column;
  }
  .footer_special span {
    font-size: 12px;
    font-weight: 600 !important;
    margin-top: 12px;
  }
  .footer_special a {
    font-size: 12px;
  }
  .footer_child2 {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .footer_child3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
  .footer_child3 a {
    color: #ffffffa1;
    text-decoration: none;
  }
  .sec_head1 {
    font-size: 1rem;
    text-align: center;
    width: 33%;
    margin: 0rem 0.75rem;
  }
  .empty {
    width: 6rem;
  }
  .empty::before {
    content: "";
    width: 3rem;
    display: inline-block;
    border: 2px solid #ca4545;
    height: 0px;
    top: -1.4rem;
    left: 39%;
    position: relative;
    background-color: #ca4552;
  }
  .empty::after {
    content: "";
    width: 3rem;
    border: 2px solid #ca4545;
    height: 0px;
    top: -1.9rem;
    left: 2rem;
    display: inline-block;
    position: relative;
    background-color: #ca4552;
  }
  .empty1 {
    width: 6rem;
  }
  .empty1::before {
    content: "";
    width: 3rem;
    border: 2px solid #ca4545;
    height: 0px;
    bottom: 1.39rem;
    left: 0rem;
    display: inline-block;
    position: relative;
    background-color: #ca4552;
  }
  .empty1::after {
    content: "";
    width: 3rem;
    border: 2px solid #ca4545;
    height: 0px;
    bottom: 1.72rem;
    left: 0rem;
    display: inline-block;
    position: relative;
    background-color: #ca4552;
  }
  .breif {
    flex-direction: column-reverse;
  }
  .breif div:nth-child(2) {
    width: 100%;
    text-align: center;
    font-size: 0.8rem;
    margin: 1rem 0rem 0rem;
  }
  .circle_Container {
    width: 76%;
  }
  .circle span:nth-child(1) {
    font-size: 0.75rem;
    font-weight: 650;
  }
  .circle {
    font-size: 0.5rem !important;
    margin: 0rem;
    width: 5rem !important;
    height: 5rem;
  }
  .cricles_child {
    align-items: flex-end;
  }
  #about {
    margin: 2rem;
  }
  .pillars_container {
    margin: 0rem 0rem 58rem 0rem;
    gap: 5rem;
    padding-top: 2rem;
  }
  .pillars_box {
    width: 17rem;
    height: 17rem;
  }
  .pillars_child {
    width: 3rem;
    height: 3rem;
  }
  .pillars1 svg {
    width: 1.5rem;
  }
  .pillars1 span {
    font-size: 1rem;
    font-weight: 600;
    margin-top: 1rem;
  }
  .pillars2 {
    padding-left: 1rem;
    padding-top: 1rem;
    font-size: 0.75rem;
  }

  .specia_fakel::after {
    content: "";
    width: 3rem;
    border: 2px solid #ca4545;
    height: 0px;
    top: -1.8rem;
    left: 2.45rem;
    display: inline-block;
    position: relative;
    background-color: #ca4552;
  }
  .special_fake::before {
    content: "";
    width: 3rem;
    display: inline-block;
    border: 2px solid #ca4545;
    height: 0px;
    top: -1.4rem;
    left: 2.4rem;
    position: relative;
    background-color: #ca4552;
  }
  .special_fake1::after {
    content: "";
    width: 3rem;
    border: 2px solid #ca4545;
    height: 0px;
    bottom: 1.8rem;
    left: 0rem;
    display: inline-block;
    position: relative;
    background-color: #ca4552;
  }
  #goverments {
    margin: 60rem 0rem -2rem;
  }
  .goverments_child {
    flex-direction: column;
  }
  .goverments_child img {
    width: 80%;
  }
  .goverment_1 {
    font-weight: 600;
    flex-direction: column;
    font-size: 1rem;
  }
  .goverments_child div {
    width: 67%;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: center;
    height: 45vh !important;
  }
  .contact1 {
    margin: 1.5rem 0rem;
    width: 69%;
    text-align: center;
    gap: 0.5rem;
  }
  .contact1 svg {
    width: 1.5rem;
  }
  .contact1 span:nth-child(2) {
    font-size: 1rem;
    font-weight: 600;
  }
  .contact-info {
    flex-wrap: wrap;
  }
  #Services {
    margin: 52rem 0rem 5rem;
  }
  .services_container {
    flex-wrap: wrap;
    gap: 4rem;
  }
  .services_type {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 5%;
    width: 84%;
    padding: 0rem 2rem;
    height: 21vh;
    text-align: center;
    border: 0px solid transparent;
    border-radius: 8px;
    box-shadow: 0px 8px 0px -1px black;
    margin-top: 1rem;
    transition: transform 0.4sease;
  }
  .services_type span:nth-child(2) {
    font-size: 1rem;
  }
  .services_type svg {
    width: 2rem;
  }
  .services_type span:nth-child(3) {
    font-size: 0.75rem;
    color: #666666;
  }
  .services_type:hover {
    transform: translateY(30px);
  }
  .nav-links a {
    font-size: 11px;
  }
  .nav-links {
    gap: 0%;
  }
  .image-group {
    gap: 2rem;
  }
  .image-group img {
    width: 30%;
    height: 7rem;
    border-radius: 8px;
    object-fit: fill;
}

  /* this class is in our services section it need to take a new class and apply the following stylings */
  /* .sec_head1 {
  font-size: 1.5rem;
  width: 100%;
} */
}
@media (min-width: 501px) and (max-width: 769px) {
  .carousel {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  nav {
    display: none;
  }
  .side_navbar {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #ffffff;
    height: 9vw;
    color: white;
    width: 88%;
    margin-top: 2.2rem;
    border: 0px solid black;
    gap: 1rem;
    border-radius: 50px;
    position: absolute;
    top: 0;
    z-index: 1;
  }

  /* Hamburger Button */
  .hamburger {
    background: none;
    border: none;
    color: #ca4552;
    font-size: 17px;
    height: fit-content !important;
    cursor: pointer;
  }
  .hamburger span {
    color: black;
  }
  /* Company Logo */
  .logo {
    background-image: url(./Group\ 1.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 20%;
    height: 20vw;
  }
  /* Language Dropdown */
  .language-dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .language-icon {
    height: 1rem;
    vertical-align: middle;
  }
  .language-button {
    background: none;
    border: none;
    font-size: 16px;
    cursor: pointer;
  }

  .arrow {
    font-size: 12px;
  }

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 120px;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 1;
    right: 0;
  }

  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }

  .dropdown-content a:hover {
    background-color: #f1f1f1;
  }

  /* Side Navbar */
  .side-nav {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1050;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
  }

  .side-nav a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: white;
    display: block;
    transition: 0.3s;
  }

  .side-nav a:hover {
    color: #f1f1f1;
  }

  /* Close Button (X) */
  .close-btn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
    color: white;
    cursor: pointer;
  }

  .slide1,
  .slide2,
  .slide3,
  .slide4 {
    height: 100vw;
  }
  .carousel-item span {
    font-size: 0.5rem;
  }

  .carousel-indicators li {
    width: 0.5rem !important;
    height: 0.5rem !important;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    width: 0.5rem;
    height: 0.5rem;
    opacity: 0.4;
  }
  ol {
    margin-bottom: 0px !important;
  }
  .carousel-item span {
    font-size: 0.5rem !important;
    margin-bottom: -15px;
  }
  .logo img {
    display: none;
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .side_navbar,
  .side-nav {
    display: none;
  }
}

@media (min-width: 1024px) and (max-width: 1439px) {
  .side_navbar,
  .side-nav {
    display: none;
  }
  .lang_li img {
    margin: 4px -16px 0px 6px;
  }
  ul {
    justify-content: space-evenly !important ;
    margin-left: 0% !important;
    gap: 0 !important;
    padding: 1.5rem 0rem !important;
    margin-left: 5.7% !important;
  }
  .container {
    width: 100% !important;
  }
  .circle_Container {
    width: 35%;
  }
  .breif div:nth-child(2) {
    width: 35%;
    font-size: 1rem;
  }
  .circle {
    width: 7.5rem !important;
    height: 7.5rem;
    font-size: 0.75rem !important;
  }
  .pillars_container {
    margin: 0rem 0rem 40rem 0rem;
  }

  .goverments_child {
    flex-direction: column;
  }
  .goverments_child img {
    width: 46%;
  }
  .goverments_child div {
    width: 45%;
    margin-left: 1rem;
  }
  #goverments {
    margin: 3rem 0rem 8rem;
  }

  .services_container {
    flex-wrap: wrap;
    gap: 6%;
  }
  .nav-links {
    gap: 9%;
  }
  .contact1 a:nth-child(3) {
    text-align: center;
  }

  li a {
    font-size: 1rem;
  }
  .logo {
    width: 7rem;
  }
  footer {
    gap: 14.68rem;
  }
}
@media (min-width: 1440px) and (max-width: 1750px) {
  .side_navbar,
  .side-nav {
    display: none;
  }
  ul {
    justify-content: space-around;
    margin-left: 5.7%;
    padding: 2rem 1rem;
  }
  .container {
    width: 100% !important;
  }
  .breif div:nth-child(2) {
    width: 32%;
    font-size: 1.25rem;
  }

  .circle_Container {
    display: flex;
    flex-direction: column;
    width: 32%;
  }
  .pillars_container {
    gap: 7%;
    margin: 6rem 0rem 11rem 0rem;
  }
  .goverments_child div {
    width: 28%;
  }
  #Services {
    margin: 7rem 0rem;
  }
  .services_type {
    width: 23%;
    height: 41vh;
  }
  .contact1 a:nth-child(3) {
    text-align: center;
  }
  .custom-carousel-container {
    height: 24vw;
  }
  .custom-carousel-indicators {
    bottom: 4px;
  }
  .content_child span:nth-child(1) {
    padding-bottom: 1.5rem;
    color: white;
  }
  .content_child div:nth-child(2) {
    padding-bottom: 1rem;
  }
  .content_child div:nth-child(3) {
    padding-bottom: 1rem;
  }
  .content_child div:nth-child(4) {
    padding-bottom: 1rem;
  }
  .content_child div:nth-child(5) {
    padding-bottom: 1rem;
  }
}
@media (min-width: 2000px) and (max-width: 2559px) {
  .side_navbar,
  .side-nav {
    display: none;
  }
  ul {
    margin-left: 5.6%;
    justify-content: space-around;
  }
  .container {
    width: 100% !important;
  }
}
@media (min-width: 2560px) {
  .side_navbar,
  .side-nav {
    display: none;
  }
  .container {
    width: 100% !important;
  }
  li a {
    color: black;
    font-size: 2rem;
    text-decoration: none;
  }
  .lang_li img {
    margin: 5px -10px 0px 10px;
    width: 2rem;
    height: 2rem;
  }
  ul:first-child li {
    padding: 0rem 1rem;
  }
  ul {
    width: 92.7vw;
    margin-left: 3.6% !important;
    margin-top: 4.74% !important;
  }

  .logo {
    width: 15rem;
  }
}
@media (min-width: 1750px) and (max-width: 1999px) {
  .side-nav {
    display: none;
  }
  .container {
    width: 100% !important;
  }
}
